@font-face {
    font-family: "Circular-Black";
    src: url(../public/fonts/CircularStd-Black.otf);
}
@font-face {
    font-family: "Circular-Medium";
    src: url(../public/fonts/CircularStd-Medium.otf);
}
@font-face {
    font-family: "Circular-Book";
    src: url(../public/fonts/CircularStd-Book.otf);
}
@font-face {
    font-family: "Circular-Light";
    src: url(../public/fonts/CircularStd-Light.otf);
}
:root{
    --bg: #202020;
    --bg-darker: #181818;
    --color: #EEE6F3;
    --accent-col: #facd00;
    --font-1: "Circular-Black";
    --font-2: "Circular-Medium";
    --font-3: "Circular-Book";
    --font-4: "Circular-Light";
}
::-webkit-scrollbar{
    display: none;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.bodyDetail{
    background-color: var(--color);
    color: var(--bg-darker);
    font-family: var(--font-4);
}
.headerDetail{
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
}
.headerDetail a{
    color: var(--bg-darker);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.8vw;
    padding-left: 30px;
    font-family: var(--font-3);
    /* margin-top: 0px; */
}
.headerDetail a svg{
    width: 3vw;
}
.mainDetail{
    background-color: var(--color);
    width: 100vw;
}
/* DETAIL */
.detailCont{
    width: 100vw;
    background-color: var(--col);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 90px;
    gap: 40px;
}
.detailTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.detailTitle span{
    font-size: 2.5vw;
}
.detailTitle h1{
    font-size: 5vw;
    font-family: var(--font-3);
}
.picDetail{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.picDetail .imgDetail{
    width: 100%;
    border-radius: 20px;
}
.detailContent{
    display: flex;
    flex-direction: column;
    width: 80%;
    font-family: var(--font-3);
    gap: 20px;
}
.adrCityDetail{
    font-size: 3vw;
    font-family: var(--font-2);
}
.descDetail{
    display: flex;
    flex-direction: column;
    font-size: 2.5vw;
    font-family: var(--font-3);
}
.desc{
    font-size: 1.5vw;
    font-family: var(--font-4);
    text-align: justify;
}
.menus{
    display: flex;
    font-size: 1.5vw;
}
.foodsDetail{
    width: 50%;
}
.food{
    font-family: var(--font-4);
    font-size: 1.3vw;
}
.drinksDetail{
    width: 50%;
}
.drink{
    font-family: var(--font-4);
    font-size: 1.3vw;
}
/* DETAIL END */

/* REVIEW TITLE */
.reviewTitle{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.reviewTitle h2{
    width: 80%;
    font-family: var(--font-1);
    font-size: 5vw;
}
/* REVIEW TITLE END */

/* REVIEWS */
.reviewsCont{
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 100px;
}
.review{
    width: 80%;
    display: flex;
    height: fit-content;
    padding-block: 10px;
    background-color: var(--accent-col);
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px var(--bg-darker);
    padding-inline: 10px;
    gap: 5px;
}
.profileLogo{
    display: flex;
    align-items: center;
    font-size: 2vw;
    justify-content: center;
}
.profileLogo svg{
    width: 6vw;
}
.reviewer{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
    margin-right: 10px;
}
.reviewer span{
    font-size: 1.3vw;
}
.nameDate {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.nameDate h2{
    font-family: var(--font-3);
    font-size: 1.7vw;
}
.nameDate span{
    font-size: 1vw;
}
/* REVIEWS END*/