@font-face {
  font-family: "Circular-Black";
  src: url(../public/fonts/CircularStd-Black.otf);
}
@font-face {
  font-family: "Circular-Medium";
  src: url(../public/fonts/CircularStd-Medium.otf);
}
@font-face {
  font-family: "Circular-Book";
  src: url(../public/fonts/CircularStd-Book.otf);
}
@font-face {
  font-family: "Circular-Light";
  src: url(../public/fonts/CircularStd-Light.otf);
}
:root{
  --bg: #202020;
  --bg-darker: #181818;
  --color: #EEE6F3;
  --accent-col: #facd00;
  --font-1: "Circular-Black";
  --font-2: "Circular-Medium";
  --font-3: "Circular-Book";
  --font-4: "Circular-Light";
}
::-webkit-scrollbar{
  display: none;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
.bodyFav{
  background-color: var(--color);
}
/* HEADER */
header{
  display: flex;
  position: fixed;
  width: 100vw;
  padding-block: 2vw;
  align-items: center;
  justify-content: space-between;
  transition: .2s;
  z-index: 1;
}
header h1{
  display: flex;
  flex-direction: column;
  color: var(--color);
  font-family: var(--font-4);
  margin-left: clamp(15px, 1vw, 100px);
  font-size: clamp(8px, 1.3vw, 100px) ;
  padding: .5vw;
  background-color: var(--bg);
  transition: .2s;
}
.hamburger{
  display: none;
}
header nav{
  display: flex;
  margin-right: 4vw;
  gap: 1vw;
}
header nav a{
  text-decoration: none;
  color: var(--bg);
  font-size: clamp(13px, 1.1vw, 100px);
  font-family: var(--font-3);
  transition: .2s;
  text-align: center;
  padding-block: clamp(20px, 1.8vw, 100px);
  padding-inline: 1vw;
  letter-spacing: 1px;
}
header nav a:hover{
  color: var(--accent-col);
}
/* HEADER END */
.mainFav{
  display: flex;
  flex-direction: column;
  font-family: var(--font-4);
  background-color: var(--color);
}
/* TITLE */
/* TITLE END */
.titleFav{
  width: 100vw;
  color: var(--bg-darker);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-top: 8vw;
}
.titleFav h1{
  font-size: 4vw;
  font-family: var(--font-1);
}
.titleFav .logo{
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  color: var(--color);
  font-size: 1vw;
  padding-block: 7px;
  padding-inline: 5px;
  font-family: var(--font-4);
}

/* CONTENT */
.contentFavCont{
  width: 100vw;
  /* height: 100vh; */
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vw;
  gap: 150px;
}
.contentFav{
  color: var(--bg-darker);
  display: flex;
  width: 80%;
  font-family: var(--font-3);
  gap: 40px;
}
.detail{
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 15px;
}
.nameRest{
  font-size: 3.8vw;
  font-family: var(--font-1);
}
.ratingCont{
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 2.8vw;
}
.ratingCont svg{
  width: 3vw;
  fill: var(--bg-darker);
}
.contentCont{
  display: flex;
  flex-direction: column;
}
.contentCont span:nth-child(1){
  font-size: 3vw;
  font-family: var(--font-2);
}
.contentCont span:nth-child(2){
  font-family: var(--font-4);
  font-size: 1.7vw;
}
.descRestCont{
  display: flex;
  flex-direction: column;
  font-size: 3vw;
  font-family: var(--font-2);
}
.descRest{
  font-size: 1.5vw;
  font-family: var(--font-4);
  text-align: justify;
}
.pic{
  width: 50%;
}
.pic .contentCont{
  text-align: justify;
}
.pic .imgFav{
  width: 100%;
  margin-bottom: 20px;
}
/* CONTENT END */

/* FOOTER */
  .footerLeft{
    color: var(--color);
  }
  .footerTitle{
    color: var(--color);
  }
/* FOOTER END */

/* Responsive */
@media screen and (max-width: 576px){
  header nav a{
    background-color: var(--color);
    filter: invert(100);
  }
  .hamburger{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 10vw;
    z-index: 1;
    background: none;
    border: none;
    padding: 13px;
  }
  .hamburger span{
    width: 25px;
    height: 3px;
    background-color: var(--bg-darker);
  }
  .activeHamb{
    filter: invert(100);
  }
  header nav{
    display: none;
    position: fixed;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    background-color: #181818dc;
    margin: 0px;
    gap: 0;
    top: 0;
    padding-top: 14vw;
  }
  .activeNav{
    display: flex;
  }
  header nav a{
    width: 90%;
    background-color: transparent;
    border-top: .1px solid var(--bg-darker);
    border-bottom: .1px solid var(--bg-darker);
  }
  header nav a:hover{
    animation: none;
  }
}